@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
body {
	margin: 0;
	font-family: "Montserrat", sans-serif;
}

ul,
li {
	padding: 0;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.navbar-css {
	background-color: #0098e0;
}
.navbar-title {
	color: #fff !important;
	font-size: 1.2rem;
	font-weight: bold;
}
.col-title-css {
	border: 1px solid transparent;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 6px 10px 0 rgb(0 0 0 / 10%);
	border-radius: 10px;
	padding: 10px 15px;
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
	text-align: center;
}
.col-title-css a {
	text-decoration: none;
	color: #41464b;
	font-weight: bold;
}
.col-title-css img {
	width: 65%;
}
.link-css p {
	margin-top: 1rem;
}
.name-detail {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.name-detail span {
	font-size: 0.9rem;
	font-weight: bold;
}
.name-detail img {
	width: 15%;
	border-radius: 10px;
}
.pagination-css {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 2rem auto;
}
.btn-page {
	padding: 0.5rem 1.2rem;
	background-color: #0098e0;
	color: #fff;
	border: 1px solid transparent;
	border-radius: 10px;
}
button:disabled {
	background-color: #bbb;
}
.menu-options {
	display: flex;
	justify-content: space-evenly;
	width: 1000px;
	margin: 1rem auto;
}
.menu-options div {
	border: 1px solid transparent;
	box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%), 0 6px 10px 0 rgb(0 0 0 / 10%);
	border-radius: 10px;
	padding: 10px 15px;
	width: 15%;
	text-align: center;
}
.link-css {
	text-decoration: none;
	color: #41464b;
	font-weight: bold;
}
.link-css:hover {
	color: #0098e0;
}
.link-css img {
	width: 50%;
}
.header-table {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin: 5rem auto 1rem auto;
	font-size: 1.2rem;
	font-weight: bold;
	padding: 0 1rem;
}
.content-table {
	width: 1000px;
	margin: 0 auto;
}
.content-table li {
	list-style: none;
	border: 1px solid #bbbbbb38;
	border-radius: 8px;
	padding: 20px;
	margin: 1rem auto;
}
.item-content-table {
	display: flex;
	justify-content: space-between;
}
.item-content-table span:first-child {
	color: #0098e0;
	font-weight: bold;
}
.image-content-table {
	width: 10%;
}
.btn-fa {
	border: none;
	background: transparent;
}
.image-modal {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.nav-css {
	background-color: #0098e0;
	text-align: center;
	padding: 1rem;
	margin-bottom: 2rem;
}
.nav-css a {
	text-decoration: none;
	color: #fff;
	font-weight: bold;
	font-size: 1.2rem;
}
@media screen and (max-width: 625px) {
	body {
		font-size: 12px;
	}
	.menu-options {
		flex-direction: column;
		align-items: center;
		width: 50%;
	}
	.menu-options div {
		width: 75%;
		margin: 0.5rem;
	}
	.header-table {
		width: 100%;
	}
	.content-table {
		width: 100%;
	}
	.content-table li {
		margin: 0.5rem;
	}
	.item-content-table {
		flex-direction: column;
		align-items: center;
	}
	.item-content-table span {
		margin-bottom: 1rem;
	}
	.item-content-table span:first-child {
		font-size: 1rem;
		font-weight: bold;
	}
	.btn-fa {
		margin-top: 0.8rem;
		font-size: 1.5rem;
	}
	.pagination-css {
		width: 95%;
		margin: 2rem 0.5rem;
	}
}
