body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container-center {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-spinner {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-center {
  width: 90%;
  margin: 1rem auto;
}

.table-head {
  background-color: #203952;
  color: #fff;
}

.table-head tr th {
  font-weight: normal;
  text-align: center;
}

.paginate-center {
  width: 10%;
  margin: 1rem auto;
}